<div>
    <div class='card' style="width: 18rem" id='book-8'>
        <div class="id-6">
            <img src="~/img/books/libro6.jpg" class='card-img-top' height='350' />
        </div>

        <div class='card-body' style="padding-bottom: -15px">
            <div class="id-1">
                <h5 class='card-title mb-5' style="max-height: 24px">
                    ESCUELA DE TRADING
                </h5>
                <hr class='mx-2' />

                <p class='card-text'>
                <div class='pb-1'>
                    <strong>Para: </strong>
                    Vender
                </div>
                <div class='py-2'>
                    <strong>Precio: </strong>
                    25.000 Gs.
                </div>
                <strong class="text-success d-block"></strong>
                </p>
            </div>

            <button type='button' class="btn btn-primary btn-lg btn-block w-100 btn-contact">
                Obtener Libro
            </button>

            <section class='mt-3'>
                <span>
                    <img src="~/img/avatar.svg" alt='Avatar' title="Usuario" class='avatar' width='10' />
                </span>
                <span class='text-dark float-end pt-2 pr-3'>
                    <img src="~/img/bookmark.svg" title='Agregar como favorito' class='favourite' width='35' />
                </span>
            </section>
        </div>
    </div>
</div>