@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("BookSlider.cshtml")


<div class="row bg-light my-5" id="others">
    @Html.Partial("~/Views/Shared/_TitleSection.cshtml")
    @for (int i = 0; i < 12; i++)
    {

        <div class="col-10 offset-2 col-sm-9 offset-sm-3 col-md-5 offset-md-1 col-xl-3 offset-xl-0 py-3">
            @Html.Partial("Card.cshtml")
        </div>
    }

</div>