<div id="other">
    <div class='row'>
        <div class="col-6 offset-0 col-md-3 offset-md-1 pt-2">
            <h5 id='recientes'>Lo mas destacado</h5>
        </div>
        <div class='row'>
        </div>
    </div>
</div>